button:focus {
  outline: none; }

.pf-l-gallery {
  padding-bottom: 20px; }

.ins-l-content {
  background-color: var(--pf-global--BackgroundColor--300); }

.pf-c-backdrop > .pf-l-bullseye > .pf-l-bullseye {
  flex: 1; }

/* styling for sources placeholder table */
.sources-placeholder-table {
  background: white;
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse; }
  .sources-placeholder-table td {
    display: block;
    padding: 10px; }

